@import 'partials/reset';
@import 'partials/prefix-mixins';
@import 'partials/layout'; // responsive grid and media queries
@import 'partials/color-palette'; // color palette - these colors will be the color swatches of the Colors section
@import 'partials/color-styles'; //some color styles of items i.e.-body {background-color}
@import 'partials/fonts'; //font @imports google font & Adobe font

/* -------------------------------- 

xPatterns

-------------------------------- */

.cd-box {
  /* this is the container of various design elements - i.e. the 2 oo of the branding section */
  border: 1px solid $color-4;
  border-radius: 3px;
  background: $color-5;
  box-shadow: 0 1px 1px rgba(#000, 0.05);
  padding: 6px;
}

/* -------------------------------- 

xNavigation 

-------------------------------- */

@import 'partials/_navigation';

/* -------------------------------- 

xPage title 

-------------------------------- */

main>h1 {
  color: $dark;

  @include MQ(L) {
    /* title goes into the header on big devices */
    color: $color-5;
  }
}

/* -------------------------------- 

xTypography 

-------------------------------- */

@import 'partials/typography';

/* -------------------------------- 

xButtons 

-------------------------------- */

.btn {
  border: none;
  box-shadow: none;
  border-radius: 0.25em;

  font: {
    size: 1.4rem;
    family: $secondary-font;
  }

  color: $color-5;
  padding: 0.6em 2.2em;
  cursor: pointer;
  background: $accent-1;

  &:focus {
    outline: none;
  }

  .no-touch &:hover {
    background: lighten($color-1, 5%);
  }

  &.btn-success {
    background: $success;

    .no-touch &:hover {
      background: lighten($success, 5%);
    }
  }

  &.btn-alert {
    background: $alert;

    .no-touch &:hover {
      background: lighten($alert, 5%);
    }
  }

  &.btn-outline {
    color: $color-1;
    background: transparent;
    box-shadow: inset 0 0 0 1px $color-1;

    .no-touch &:hover {
      color: $color-5;
      background: $color-1;
    }
  }

  @include MQ(S) {
    font-size: 1.6rem;
  }
}

.cd-buttons .cd-box:nth-of-type(2) span {
  /* CSS class name color */
  color: $color-1;
}

/* -------------------------------- 

xIcons 

-------------------------------- */

@import 'partials/icons';

/* -------------------------------- 

xBasic Style

-------------------------------- */

@import 'partials/basic-style';