@import 'partials/reset';
@import 'partials/prefix-mixins';
@import 'partials/layout'; // responsive grid and media queries
@import 'partials/color-palette'; // color palette - these colors will be the color swatches of the Colors section
@import 'partials/color-styles'; //some color styles of items i.e.-body {background-color}
@import 'partials/fonts'; //font @imports google font & Adobe font

/* -------------------------------- 

xPatterns

-------------------------------- */

.cd-box {
  /* this is the container of various design elements - i.e. the 2 oo of the branding section */
  border: 1px solid $color-4;
  border-radius: 3px;
  background: $color-5;
  box-shadow: 0 1px 1px rgba(#000, 0.05);
  padding: 6px;
}

/* -------------------------------- 

xNavigation 

-------------------------------- */

@import 'partials/_navigation';

/* -------------------------------- 

xPage title 

-------------------------------- */

main>h1 {
  color: $dark;

  @include MQ(L) {
    /* title goes into the header on big devices */
    color: $color-5;
  }
}

/* -------------------------------- 

xTypography 

-------------------------------- */

@import 'partials/typography';


/* -------------------------------- 

xIcons 

-------------------------------- */

@import 'partials/icons';

/* -------------------------------- 

xBasic Style

-------------------------------- */

@import 'partials/basic-style';